In [1]:
import os
os.environ['PYSPARK_SUBMIT_ARGS'] = 'pyspark-shell'
os.environ["SPARK_HOME"] = "/Users/anishchapagain/Spark/"

import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("DATA Analysis").getOrCreate()
print(spark.sparkContext.appName)

In [3]:
df = spark.read.csv("transaction_detail.csv")

df.show(2)

+------------------+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+--------------------+
|               _c0|                 _c1|                 _c2|                 _c3|                 _c4|           _c5|                 _c6|                 _c7|
+------------------+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+--------------------+
|transaction_amount|transaction_card_...|transaction_ecomm...|transaction_count...|transaction_datetime|transaction_id|transaction_city_...|transaction_produ...|
|             50.85|          MasterCard|        www.ebay.com|               India| 2019-05-14 15:24:12|             1|              Mumbai|              Laptop|
+------------------+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+--------------------+
only showing top 2 rows

In [4]:
df = spark.read.csv(header=True, inferSchema=True, path="transaction_detail.csv")

df.show(2)

+------------------+---------------------+----------------------------------+------------------------+--------------------+--------------+---------------------+------------------------+
|transaction_amount|transaction_card_type|transaction_ecommerce_website_name|transaction_country_name|transaction_datetime|transaction_id|transaction_city_name|transaction_product_name|
+------------------+---------------------+----------------------------------+------------------------+--------------------+--------------+---------------------+------------------------+
|             50.85|           MasterCard|                      www.ebay.com|                   India| 2019-05-14 15:24:12|             1|               Mumbai|                  Laptop|
|            259.12|           MasterCard|                    www.amazon.com|                   India| 2019-05-14 15:24:13|             2|                 Pune|              Wrist Band|
+------------------+---------------------+----------------------------------+------------------------+--------------------+--------------+---------------------+------------------------+
only showing top 2 rows

In [5]:
records_count = df.count()
print("records_count is %d" % records_count)

records_count is 1000

In [6]:
df.select('transaction_card_type').distinct().count()

3

In [20]:
df.select('transaction_card_type').distinct().show()
df.select('transaction_country_name').distinct().show()

+---------------------+
|transaction_card_type|
+---------------------+
|              Maestro|
|                 Visa|
|           MasterCard|
+---------------------+

+------------------------+
|transaction_country_name|
+------------------------+
|               Singapore|
|                  France|
|                   India|
|           United States|
|                   Italy|
|                Thailand|
|                  Israel|
|                   Inida|
|          United Kingdom|
+------------------------+

In [10]:
df.select("transaction_amount","transaction_datetime").describe().show()

+-------+------------------+--------------------+
|summary|transaction_amount|transaction_datetime|
+-------+------------------+--------------------+
|  count|              1000|                1000|
|   mean| 279.9002600000002|                null|
| stddev| 158.9149152660833|                null|
|    min|              6.02| 2019-05-14 15:24:12|
|    max|            555.07| 2019-05-14 15:40:53|
+-------+------------------+--------------------+

In [16]:
df.select("transaction_amount")

DataFrame[transaction_amount: double]

In [17]:
df.filter(df.transaction_ecommerce_website_name=='www.ebay.com').count()

246

In [19]:
df.groupby(df.transaction_ecommerce_website_name).count().show()

+----------------------------------+-----+
|transaction_ecommerce_website_name|count|
+----------------------------------+-----+
|                  www.snapdeal.com|  273|
|                  www.flipkart.com|  249|
|                    www.amazon.com|  232|
|                      www.ebay.com|  246|
+----------------------------------+-----+